<div class="catalog-main-wrapper">
<div class="catalog-main">
   <div id="catalog" class="catalog-left-section hidden-xs col-sm-4"></div>
   <div id="right-catalog" class="catalog-right-section-list col-sm-8"></div>
   <div id="shoppingCart" class="shoppingCart shopping-cart shoppingCart-top150">
     <div class="shopping-indicator">0</div>
     <i class="fa fa-shopping-bag fa-shopping-bag-custom" aria-hidden="true"></i>
   </div>
</div>
<div id="cart-area-wrp" class="cart-area-wrp"></div>
<div id="purchaseFormWrp" class="purchaseFormWrp"></div>
<div id="notification" class="notification-wrp-parent">
  <div class="notification-wrp">
    <div class="notification">
      <div class="notification-content">
        Ваш заказ принят. Мы свяжемся с Вами в ближайшее время.
        <i class="fa fa-check fa-check-custom" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
</div>
