<div class="footer-wrp footer-wrp-absolute clearfix">
	<div class="footer-items-wrp col-sm-12">
		<div class="col-sm-4 footer-item">
			<h1 class="footer-item-title">Контакты</h1>
			<div class="footer-child-container">
				<a class="mail" href="mailto:example@gmail.com">example@gmail.com</a>
				<a class="phone" href="tel:+380976728312">+380976728312</a>
				<div class="address-ftr">Дніпро, вул.Івана Франка буд.30</div>
			</div>
		</div>
		<div class="col-sm-4 footer-item">
			<h1 class="footer-item-title">Каталог товаров</h1>
			<div class="footer-child-container" id="footer-catalog"></div>
		</div>
		<div class="col-sm-4 footer-item">
			<h1 class="footer-item-title">Новости и акции</h1>
			<div class="footer-child-container">
				<div class="footer-news-description">Подписаться на рассылку новостей и акционных предложений</div>
				<form class="form-news">
					<input class="email border-outline-0" type="email" name="email" placeholder="Ваш email">
					<button class="bright-hover border-outline-0" type="submit">Подписаться</button>
				</form>
			</div>
		</div>
	</div>
	<div class="underline-section col-sm-12">
		<div class="col-sm-6">
			Мы принимаем: <img src="/images/icons/visa.png"><img src="/images/icons/master-card.png">
		</div>
		<div class="col-sm-6 rights-reserved">
		© 2014-{{showDate}}, Интернет-магазин "название". Все права защищены.
		</div>
	</div>
</div>
