
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
	position: relative;
	min-height: auto;
}
#body{
	min-height: 330px;
}
.footer-wrp{
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	color: #fff;
}
.footer-wrp-absolute{
	position: absolute;
	right: 0;
	left: 0;
	bottom: -255px;
}
.footer-wrp .footer-item-title{
	font-size: inherit;
	text-transform: uppercase;
}
.footer-wrp .footer-items-wrp,
.footer-wrp .underline-section{
	background: rgba(0,0,0,.85);
}
.footer-wrp .underline-section{
	position: relative;
	z-index: -1;
	padding-top: 30px;
}
.footer-wrp .underline-section::before{
	content: "";
	position: absolute;
	top: 15px;
	width: 80%;
	height: 3px;
	border-radius: 30%;
	background:#222;
	left: 10%;
}
.footer-wrp .underline-section .rights-reserved{
	padding-top: 10px;
}
.footer-child-container .mail{
	display: block;
	color: #09b091;
}
.footer-child-container .phone{
	color: inherit;
}
.footer-child-container .category-link{
	color: inherit;
	text-transform: capitalize;
}
.footer-child-container .category-link:hover{
	color: #09b091;
}
.footer-item .footer-child-container, .footer-wrp .underline-section{
	font-size: 16px;
}
.footer-wrp .underline-section img{
	transform: scale(.7);
}
.footer-item .form-news .email{
	padding: 5px;
	width: 100%;
	margin:10px 0;
	color: #eee;
	background: #555;
}
.footer-item .form-news button{
	padding: 5px 10px;
	background: #b00909;
}
.footer-item .form-news{
	text-align: left;
}
.form-news .email::-moz-placeholder {
	color: #bbb;
	opacity: 1; }
.form-news .email:-ms-input-placeholder {
	color: #bbb; }
.form-news .email::-webkit-input-placeholder {
	color: #bbb; }
@media screen and (min-width:1442px){
  .footer-wrp-absolute{
    bottom: -230px;
  }
}
@media screen and (max-width:875px){
  .footer-wrp-absolute{
    bottom:-280px;
  }
}
@media screen and (max-width:767px){
  .footer-items-wrp .footer-item{
    padding: 15px 0;
  }
  .footer-wrp .underline-section{
    padding-bottom: 20px;
  }
  .footer-wrp-absolute{
  	bottom: -580px;
  }
  .footer-wrp .more-about-us{
    line-height: 2;
  }
  .footer-item .form-news{
  	text-align: center;
  }
}
@media screen and (max-width:541px){
  .footer-wrp-absolute{
    bottom: -600px;
  }
}
@media screen and (max-width:487px){
  .footer-wrp-absolute{
  	bottom: -630px;
  }
}
@media screen and (max-width:336px){
  .footer-wrp-absolute{
  	bottom: -670px;
  }
}
