@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.border-outline-0{
	border: none;
	outline: none;
}
.padding-0{
	padding:0;
}
.bright-hover:hover{
	box-shadow: 0 0 2px #fff;
}
.home-wrapper-padding{
	margin: 0 40px;
}
 .encouragement h1{
	font-size: 26px;
	text-align: center;
	margin:-30px auto 0;
	padding: 30px 0;
	width: 350px;
	font-family: 'PT Sans', sans-serif;
}
.footer-wrp .more-about-us{
	padding: 50px 15px;
	background: rgba(0,0,0,1);
}
.footer-wrp .more-about-link{
	padding: 5px 25px;
	background: #ddd;
	color: rgba(0,0,0,1);
	border-radius: 10px;
}
.banners-wrp{
	height: 500px;
	color: #fff;
}
.banners-wrp .slick-dots{
	position: absolute;
	right: 0;
	bottom: 50px;
	text-align: right;
}
.banners-wrp .slick-dots li:last-child{
	margin-right: 20%;
}
.banners-wrp .slick-dots li button::before{
	color: #fff;
	opacity: .65;
	font-size: 14px;
}
.banners-wrp .slick-dots li button:hover::before{
	opacity: 1;
}
.banners-wrp .slick-dots li.slick-active button::before{
	opacity: 1;
}
.banner-item{
	position: relative;
	display: block;
	height: 100%;
	color: #fff;
}

.banner-item .banner-description{
	display: inline-block;
	position: relative;
	float: right;
	width: 50%;
	height: 500px;
	transform: translate(0,-100%);
	background: rgba(0,0,0,.3);
}
.banner-item .banner-description::before{
	content: "";
	position: absolute;
	width: 200%;
	height: 100%;
	left: -100%;
	background: rgba(0,0,0,.05);
}
.banner-item:hover{
	color: inherit;
}
.banner-item .banner-img{
	width: 100%;
	height: 500px;
}
.banner-info-prnt{
	display: table;
	width: 100%;
	height: 100%;
}
.slick-list.draggable{
	height: 100%;
}
.banner-info-prnt .banner-info-child{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.banner-info-prnt .banner-info-subchild{
	position: relative;
	z-index: 1;
	display: inline-block;
}
.banner-info-prnt h1{
	font-weight: 700;
}
.banner-info-prnt .brief-info{
	text-align: left;
	opacity: .8;
	font-size: 19px;
}
.slick-prev, .slick-next{
	z-index: 1;
}
.slick-next{
	right: 15px;
}
.slick-prev::before, .slick-next::before{
  font-family: FontAwesome;
  color: rgba(0,0,0,.65);
  font-size: 30px;
  background: rgba(0,0,0,.2);
  border-radius: 5px;
  padding: 20px;
}
.slick-prev:hover::before, .slick-next:hover::before{
	background: rgba(0,0,0,.35);
	color:#fff;
}
.slick-prev::before{
  content: "\f053";
}
.slick-next::before {
  content: "\f054";
}
.exact-category-wrp .categ-head{
	border-bottom: 3px solid #09b091;
}
.exact-category-wrp .categ-head>*{
	display: inline-block;
	font-size: 18px;
	padding: 10px 0;
}
.exact-category-wrp .categ-head h3{
	margin:0;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 35px 10px 15px;
	background: #000;
	border:2px solid #09b091;
	border-bottom: none;
	color:#ddd;
}
.exact-category-wrp .categ-head .quantity-wrp{
	float: right;
}
.product-preview{
	padding: 20px 10px 0 10px;
	height: 350px;
	width: 100%;
	outline: none;
}
.product-preview .img-wrp{
	display: block;
	height: 200px;
	text-align: center;
}
.product-preview .img-wrp .product-img{
	height: 100%;
	display: inline-block;
	transition: all .4s;
}
.product-preview .img-wrp .product-img:hover{
	transform: scale(1.06);
}
.product-preview .price-purchase>*{
	display: inline-block;
}
.product-preview .price-purchase .price-number{
	font-size: 25px;
}
.product-preview .price-purchase .purchase{
	font-size: 28px;
	padding: 0 15px;
	background: #ddd;
	border-radius: 5px;
	cursor: pointer;
	float: right;
}
.product-preview .price-purchase .purchase:hover{
	background: #b00909;
	color: #fff;
}
.product-preview .price-purchase .price{
	margin-top: 8px;
}
.product-preview .info{
	margin-top: 10px;
	padding: 0 15px;
}
.product-preview .info h3{
	color: #888;
	font-weight: 600;
	font-size: 15px;
	height: 34px;
	text-align: center;
	overflow: hidden;
	text-transform: uppercase;
	text-overflow: ellipsis;
}
.categ-carousel .slick-arrow::before{
	font-size: 20px;
	padding: 10px;
}
.categ-carousel .slick-prev{
	left: 0;
}
.slick-slider .slick-list{
	width: 100%;
}
.drop-alink, .drop-alink:hover,.drop-alink:link:active, .drop-alink:visited:active,
.drop-alink:link, .drop-alink:visited {
	text-decoration: none;
	color: inherit;
	background: transparent;
	outline: none;
}
.advantages-wrp{
	padding: 20px 0 20px;
	font-size: 20px;
	background: #000;
	color: #fff;
}
.advantages-wrp h2{
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	margin: 0 0 25px;
}
.advantages-wrp .advantage-item{
	height: 100%;
	text-align: center;
}
.advantage-item img{
	width: 50px;
}
.advantages-wrp .brief-word{
	color: #888;
	font-weight: 100;
	margin-top: 10px;
}
.form-wrp{
	padding: 20px 0;
}
.form-wrp .form-parent{
	width: 500px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 0 10px;
}
.form-parent .form-head{
	text-transform: uppercase;
	padding: 15px 0 10px 20px;
	border-bottom: 1px solid #bbb;
}
.form-head .head-one{
	font-size: 20px;
}
.form-head .head-two, .form-parent .form-container span{
	color: #888;
}
.form-parent .form-container{
	padding: 20px 20px 30px;
}
.form-parent .form-container input,
.form-parent .form-container textarea{
	min-width: 100%;
	max-width: 100%;
	margin: 5px 0 15px;
	padding: 5px;
	border-radius: 5px;
	border: none;
	border: 1px solid #888;
	outline: none;
}
.form-parent .form-container textarea{
	height: 100px;
	max-height: 100px;
}
.form-container .btn-send{
	border: none;
	outline: none;
}
@media screen and (max-width:767px){
	.form-wrp .form-parent{
		width: 100%;
	}
	.banner-item .banner-description{
		width: 100%;
	}
	.banners-wrp .slick-dots{
		text-align: center;
		padding-left: 15%;
	}
	.advantages-wrp .advantage-item{
		padding: 20px 0;
	}
}
@media screen and (max-width:568px){
	.encouragement h1{
		width: 300px;
	}
}
