.purchase-wrp{
	position: fixed;
	z-index: 100;
	left:0;
	right: -2%;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.8);
	overflow: auto;
}
.purchase-content-inline{
	display: inline-block;
	width: 80%;
}
.purchase-content{
	background: #eee;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	position: relative;
	display: table;
}
.purchase-content .warning{
	margin-top: 40px;
}
.purchase-content .delivery-kind{
	padding: 5px 10px;
	cursor: pointer;
}
.purchase-content .delivery-kind:hover{
	background: #ccc;
}
.payment-type-wrp{
	padding-top: 25px;
	text-align: left;
}
.payment-type-wrp .payment-label{
	font-weight: 100;
	font-size: 15px;
	margin-top: 10px;
	cursor: pointer;
}
.payment-type-wrp .payment-label::before{
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-bottom: -5px;
	border: 1px solid #ccc;
	border-radius: 50%;
}
.payment-type-wrp input.payment-input{
	display: none;
	width: auto;
}
.payment-type-wrp input.payment-input:checked+.payment-label::before{
	background: #f1c71e;
}
.buy-wrp{
	display: none;
	position: relative;
}
.buy-wrp .purchase-input.phone:focus+.phone-number-example{
	bottom: -25px;
	opacity: 1;
	z-index: 1;
}
.wrp-show{
	display: block;
}
.wrp-hide{
	display: none;
}
.purchase-content .form-content{
	border-right: 1px solid #ccc;
	background: #fff;
	display: table-cell;
	width: 50%;
	vertical-align: top;
}
.purchase-content .form-content, .purchase-content .products-content{
	padding: 20px;
}
.purchase-content .products-content{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.quantity-picker .input-number, .quantity-picker .btns-wrp{
	display: inline-block;
}
.quantity-picker .input-number{
	width: 60px;
	border-radius: 4px 0 0 4px;
}
.quantity-picker .btns-wrp{
	line-height: .5;
	margin-left: -4px;
	border:1px solid #ccc;
	border-left: none;
	border-radius: 0 4px 4px 0;
	height: 31px;
	width: auto;
	margin-top: 25px;
	vertical-align: bottom;
}
.quantity-picker .more-btn{
	border-bottom: 1px solid #ccc;
}
.quantity-picker .more-btn, .quantity-picker .less-btn{
	padding: 0 15px;
	text-align: left;
	cursor: pointer;
}
.quantity-picker .more-btn:hover, .quantity-picker .less-btn:hover{
	box-shadow: 0 0 1px #000;
}
.products-content .product-item{
	border-bottom: 1px dotted #ccc;
	padding: 20px 0 30px;
	margin-bottom: 20px;
	position: relative;
}
.products-content .product-item .delete-item{
	position: absolute;
	right: 10px;
	top: 20px;
	background: #aaa;
	border-radius: 50%;
	padding: 3px 7px;
	color: #fff;
	cursor: pointer;
}
.products-content .product-item .delete-item:hover{
	background: #b00909;
}
.products-content .product-item .img-wrp, .products-content .product-item .info-container{
	display: inline-block;
}
.products-content .product-item .img-wrp{
	width: 22%;
	float: left;
	border: 1px solid #ccc;
}
.products-content .product-item .img-wrp img{
	width: 100%;
}
.products-content .product-item .info-container{
	width: 70%;
	margin-left: -4px;
	padding-left: 20px;
}
.product-item .info-container .price{
	margin: 15px 0;
	font-size: 20px;
	font-weight: 500;
}
.products-content .total-sum{
	font-size: 25px;
	text-align: left;
}
.product-item .info-container .quantity, .products-content .total-sum .word{
	font-size: 15px;
	color: #888;
}
.products-content .total-sum .word{
	padding-right: 30px;
}
.products-content .product-item .info-container h3{
	font-size: 14px;
	text-transform: uppercase;
	margin:0 35px 0 0;
}
.purchase-content-wrp-parent{
	display: table;
	width: 100%;
	height: 100%;
}
.purchase-content-wrp{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.purchase-content .dropdown-menu{
	width: 100%;
	text-align: left;
	font-size: inherit;
	padding: 0;
	border-radius: 0;
	border: 1px solid #ccc;
}
.purchase-content .phone-wrp{
	position: relative;
}
.purchase-content .make-purchase-btn-wrp{
	text-align: center;
}
.purchase-content .make-purchase-btn{
	margin-top: 40px;
}
.purchase-content .close-button{
	display: inline-block;
	cursor: pointer;
	background: #f1c71e;
	text-transform: uppercase;
	color: #fff;
}
.purchase-content .make-purchase-btn,
.purchase-content .close-button{
	margin-top: 10px;
	width: auto;
	padding: 10px;
	border-radius: 5px;
}
.purchase-content input, .purchase-content button{
	width: 100%;
	text-align: left;
	font-size: inherit;
	padding: 5px 10px;
	border-radius: 0;
	border: 1px solid #ccc;
}
.purchase-content input, .purchase-content button{
	margin-top: 25px;
}
.purchase-content .form-content .caret-custom{
	float: right;
	transform: translate(0,10px);
}
.fa-truck-custom{
	padding-right: 10px;
}
.img-novaposhta{
	width: 18px;
	height: 18px;
	margin-right: 10px;
}
.notification-wrp-parent{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
}
.notification-wrp{
	display: table;
	width: 100%;
	height: 100%;
}
.notification{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.notification-content{
	display: inline-block;
	width: 80%;
	height: auto;
	vertical-align: middle;
	text-align: center;
	font-size: 30px;
	background: rgba(255,255,255,.95);
	color:#000;
}
.notification-content .fa-check-custom{
	color: green;
}
@media screen and (min-width: 1400px){
	.products-content .product-item .img-wrp{
		width: 15%;
	}
}
@media screen and (max-width:767px){
	.purchase-content-inline{
		width: 100%;
	}
}
@media screen and (max-width:600px){
	.purchase-content{
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}
	.purchase-content .form-content,
	.purchase-content .products-content{
		width: 100%;
	}
}
